@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/RobotoThin.ttf");
    font-weight: 100;
  }

@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/RobotoRegular.ttf");
    font-weight: 300;
  }


* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
}  


.container {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 50px;
}


.header {
    background-color: #0e5764;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-link {
    position: relative;
    padding: 0 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    line-height: 50px;
    color: #fff; 
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 12px;
    bottom: -5px;
    width: calc(100% - 24px);
    height: 2px;
    background-color: #fff;
    opacity: 0;
    transition: .5s;
}

.nav-link:hover {
    color: #4d2323;
}

.nav-link:hover::after {
    opacity: 1;
    animation-name: slidein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}  

.main {
    margin-bottom: auto;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section {
    width: calc(50% - 20px);
    padding: 10px;
    padding-bottom: 35px;
    border-bottom: 1px solid #672f2f;
}

.section-education, .section-english {
  border-bottom: 0;
}

.section-title {
    margin-bottom: 20px;  
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #829985;
}

.section-title {
    margin-bottom: 20px;  
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #829985;
}

.pre {
    padding: 0;
    margin: 0;
}

.section-profile-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;  
    text-transform: uppercase;
}

.main-title {
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    color: #4d2323;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 10px;
    line-height: 50px;
    word-spacing: 3px;
}

.section-subtitle {
    margin-top: 20px;
    color: #5c5c5c;
    line-height: 50px;
    font-weight: 300;
    letter-spacing: 2px;
}

.section-profile-logo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  filter: grayscale(0.3) brightness(1.05);
  transition: .3s;
}

.section-profile-logo:hover {
    filter: none;
}

.section-list {
    margin: 0;
    padding: 0;  
    list-style: none;
}

.section-item {
    position: relative;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-left: 30px;
}

.section-item span {
    color: #829985;
}

.section-item a {
    text-decoration: none;
    color: #829985;
    transition: color 0.5s;
  }
  
.section-item a:hover {
    color: #4d2323;
}

.footer {
    background-color: #39709e;
    padding: 20px;  
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: #fff;
}

.github {
    color: #fff;
    text-decoration: none;
    line-height: 45px;
}

.rss {
  width: 121px;
  height: 45px;
  background-image: url("../assets/svg/rss.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1440px) {
    .container {
      padding: 0 20px;
    }
  }
  
  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
    .section-profile {
      flex-direction: column;
      align-items: center;
    }  
    .section-education {
      border-bottom: 1px solid #672f2f;
    }
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
    .nav {
      display: none;
    }
}

@media (max-width: 410px) {
    .main-title {
      font-size: 24px;
      letter-spacing: 4px;
    }  
}
